/*
  Daniel Orozco 13312
  UVG
  Sistemas y Tecnologias Web
  2016
*/
.wrapper {
  background: lightgray;
  height: 500px;
  left: 200px;
  position: relative;
  top: 200px;
  width: 500px; }

.analog-clock {
  background: white;
  border-radius: 50%;
  border: 4px solid black;
  height: 80%;
  left: 9%;
  position: relative;
  top: 10%;
  width: 80%; }

.dot {
  background: black;
  border-radius: 50%;
  height: 5%;
  left: 47.5%;
  position: relative;
  top: 48%;
  width: 5%; }

.labels {
  position: relative; }

.h1 {
  font-size: 40px;
  left: 70%;
  position: absolute;
  top: 15%; }

.h2 {
  font-size: 40px;
  left: 85%;
  position: absolute;
  top: 30%; }

.h3 {
  font-size: 40px;
  left: 93%;
  position: absolute;
  top: 45%; }

.h4 {
  font-size: 40px;
  left: 85%;
  position: absolute;
  top: 60%; }

.h5 {
  font-size: 40px;
  left: 70%;
  position: absolute;
  top: 75%; }

.h6 {
  font-size: 40px;
  position: absolute;
  left: 45%;
  top: 88%; }

.h7 {
  font-size: 40px;
  left: 20%;
  position: absolute;
  top: 75%; }

.h8 {
  font-size: 40px;
  left: 8%;
  position: absolute;
  top: 60%; }

.h9 {
  font-size: 40px;
  left: 2%;
  position: absolute;
  top: 45%; }

.h10 {
  font-size: 40px;
  left: 8%;
  position: absolute;
  top: 30%; }

.h11 {
  font-size: 40px;
  left: 20%;
  position: absolute;
  top: 15%; }

.h12 {
  font-size: 40px;
  position: absolute;
  left: 45%;
  top: 0; }

.hours-wrapper, .minutes-wrapper, .seconds-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.hours-analog {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%; }

.minutes-analog {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%; }

.seconds-analog {
  background: red;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8; }

.hours-digital, .minutes-digital, .seconds-digital, .double-dots {
  font-size: 100px;
  font-family: "Comic Sans MS";
  position: absolute;
  top: 35%; }

#hm {
  left: 25%; }

.minutes-digital {
  left: 35%; }

#ms {
  left: 65%; }

.seconds-digital {
  left: 75%; }

#change {
  font-size: 25px;
  left: 425px;
  position: relative;
  top: 220px; }
